@charset "utf-8";
body,html{overflow: hidden;font-family:'Microsoft Yahei';}
.hide{ display:none;}
.fL{ float:left;}
.fR{ float:right;}

/* top */
.header{height:53px;background:url(../images/workspace/topBg.gif) repeat-x 0 0;}
.headBox{height:53px;width:100%;background:url(../images/workspace/hearRbg.jpg) no-repeat 100% 0;}
.logo{width:356px;height:53px;margin-left:30px;background:url(../images/workspace/logo2.png) no-repeat 0 0;_background:url(../images/workspace/logo2.jpg) no-repeat 0 0;}
.headR{height:53px;}
.adlog{float:left;margin-left:12px;height:26px;padding-left:12px;/*background:url(../../images/workspace/bg_01.gif) no-repeat 0 0;*/margin-top:3px;}
.adlay{float:left;line-height:26px;height:26px;/*background:url(../images/workspace/bg_01.gif) no-repeat 100% 0;*/padding-right:4px;}
.HlineR{padding-right:10px;background:url(../images/workspace/icon_line01.gif) no-repeat 100% center;}
.exit{font-size:12px;color:#1c1c1c;padding-left:18px;background:url(../images/workspace/exit_icon.gif) no-repeat 0 center;}
.ico_welcome{float:left;padding-left:27px;line-height:26px;background:url(../images/workspace/icon_03.gif) no-repeat 8px center;font-size:12px;color:#1c1c1c;}
.pwsMod{line-height:26px;font-size:12px;color:#1c1c1c;padding-left:18px;margin:0 8px;background:url(../images/workspace/icon_02.gif) no-repeat 0 center;}
.adlay a:hover{color:#2877bc;}

.menuLay{height:53px;padding:0;font-size:12px;}
.admTime{margin-left:40px;padding-left:20px;background:url(../images/workspace/icon_04.gif) no-repeat 0 center;color:#1c1c1c;}
.menuNav{padding-right:0;}
.menuNav li{float:left;padding:0 2px 0 0;height:53px;background:url(../images/workspace/menuline.png) no-repeat 100% 0;_background:url(../../images/workspace/menuline.gif) no-repeat 100% 0;}
.menuNav li a,.menuNav li a span,.menuNav li a span em{display:block;font-size:14px;color:#fff;font-family:'Microsoft Yahei';}
.menuNav li a{display:block;height:53px;padding:0 17px;}
.menuNav li a span{padding-top:33px;}
.menuNav li a span em{cursor:pointer;color:#fff;}
.menuNav li.cur a,
.menuNav li a:hover{background:url(../images/workspace/menuside.gif) repeat-x 0 0;}
.menuNav li.cur a span em,
.menuNav li a:hover span em{color:#fff;}
.menuNav li.lastnobg{background:none;}
.icon_01{background:url(../images/workspace/Hicon_01.png) no-repeat center 7px;_background:url(../images/workspace/Hicon_01.gif) no-repeat center 7px}
.icon_02{background:url(../images/workspace/Hicon_02.png) no-repeat center 6px;_background:url(../images/workspace/Hicon_02.gif) no-repeat center 6px}
.icon_03{background:url(../images/workspace/Hicon_03.png) no-repeat center 7px;_background:url(../images/workspace/Hicon_03.gif) no-repeat center 7px}
.icon_04{background:url(../images/workspace/Hicon_04.png) no-repeat center 7px;_background:url(../images/workspace/Hicon_04.gif) no-repeat center 7px}
.icon_05{background:url(../images/workspace/Hicon_05.png) no-repeat center 6px;_background:url(../images/workspace/Hicon_05.gif) no-repeat center 6px}
/* left */
.leftSide{height:100%;}
.menuside{overflow-y:auto;}
.Topnav{height:33px;line-height:30px;border-bottom:1px solid #d7d8da;background:url(../images/workspace/leftTopbg.gif) repeat-x 0 0;position:relative;}
.navText{font-size:14px;padding-left:12px;color:#fff;}
.bar{width:20px;height:15px;position:absolute;right:7px;top:8px;background:url(../images/workspace/barL.gif) no-repeat 0 0;cursor:pointer;}
.Topnav .barR{right:4px;background:url(../images/workspace/barR.gif) no-repeat 0 0;cursor:pointer;}

.operatLmenu{padding-right:1px;}
.sal {display: block;}
.sal dt {height:30px;line-height:30px;font-size:14px;color:#000;background:url(../images/workspace/Lbg_01.gif) repeat-x 0 0;border-bottom:1px solid #d7d8da;}
.sawt{display:block;padding-left:10px;background:url(../images/workspace/icon_05.gif) no-repeat 88% center;cursor:pointer;}
.sal dd {display:none;padding:6px 0;background:#fcfefd;border-bottom:1px solid #d7d8da;overflow-y:auto;}
.sal dd p{line-height:28px;font-size:13px;color:#333;cursor:pointer;margin-bottom:1px;}
.sal dd p a{color:#333;display:block;padding-left:16px;}
.sal dd p a:hover,.sal dd p.cur a{color:#fff;background:url(../images/workspace/bg_02.gif) no-repeat 0 0;}
.lshowcur dd{display:block;overflow:hidden;overflow-y:auto;}
.lshowcur dt span.sawt{padding-right:-25px;background:url(../images/workspace/icon_06.gif) no-repeat 88% center;font-weight:bold;}
.sal dd.noBor{border-bottom:0;}

/* bottom */
.bgc_bottom{height:37px;line-height:36px;border-top:1px solid #c3c3c3;background:#f0f0f0 url(../images/workspace/bottomBg.gif) repeat-x 0 0;font-size:12px;font-family:'Microsoft Yahei';color:#666;text-align:center;}